## **NeenOpal**

### **Author : Ahsan Ahmad Beg**

### **Task - 1 : Record Matching**

### **Steps**

**Step 1)**  Importing Libraries

**Step 2)**  Load The DataFrame

**Step 3)**  Checking Data

**Step 4)**  Show the difference by merging both DataFrames

**Step 5)**  Questions


 
**Dataset :-** https://docs.google.com/document/d/1Yz7ehICE1jngUNLE_NPXeXTWcBloFXjFecWhpQjEKOY/edit

### **Step 1 - Importing Libraries**

In [1]:
from pathlib import Path
import numpy as np
import pandas as pd
import xlwings as xl

### **Step 2 -  Load the DataFrame**

In [2]:
df_data1 = pd.read_csv("Data/RMT_data1.csv")
df_data1.head(5)

         Order ID       Product ID  Qty
0  CA-2014-100006  TEC-PH-10002075    3
1  CA-2014-100090  FUR-TA-10003715    3
2  CA-2014-100090  OFF-BI-10001597    6
3  CA-2014-100293  OFF-PA-10000176    6
4  CA-2014-100328  OFF-BI-10000343    1

In [3]:
df_data2 = pd.read_csv("Data/RMT_data2.csv")
df_data2.head(5)

         Order ID       Product ID  Qty
0  CA-2014-100090  FUR-TA-10003715    3
1  CA-2014-100090  OFF-BI-10001597    6
2  CA-2014-100293  OFF-PA-10000176    6
3  CA-2014-100328  OFF-BI-10000343    1
4  CA-2014-100363  OFF-FA-10000611    2

### **Step 3 - Check Shape & Data**

In [4]:
df_data1.shape

(9478, 3)

In [5]:
df_data2.shape

(9479, 3)

### **Step 4 - Show the difference by merging both DataFrames**

In [7]:
# Merge the dataframes and add the indicator Column

Both_merged = df_data1.merge(df_data2, on = ['Order ID' , 'Product ID'], how = "outer",indicator = "Exist")
Both_merged

            Order ID       Product ID  Qty_x  Qty_y       Exist
0     CA-2014-100006  TEC-PH-10002075    3.0    NaN   left_only
1     CA-2014-100090  FUR-TA-10003715    3.0    3.0        both
2     CA-2014-100090  OFF-BI-10001597    6.0    6.0        both
3     CA-2014-100293  OFF-PA-10000176    6.0    6.0        both
4     CA-2014-100328  OFF-BI-10000343    1.0    1.0        both
...              ...              ...    ...    ...         ...
9981  US-2017-165344  OFF-BI-10003196    NaN   10.0  right_only
9982  US-2017-165358  TEC-CO-10001943    NaN    5.0  right_only
9983  US-2017-167920  OFF-AP-10000159    NaN    5.0  right_only
9984  US-2017-169502  OFF-AP-10001947    NaN    5.0  right_only
9985  US-2017-169551  FUR-BO-10001519    NaN    3.0  right_only

[9986 rows x 5 columns]

In [8]:
df_not_in_both = Both_merged.query("Exist!= 'both'")
df_not_in_both

            Order ID       Product ID  Qty_x  Qty_y       Exist
0     CA-2014-100006  TEC-PH-10002075    3.0    NaN   left_only
10    CA-2014-100678  OFF-EN-10000056    3.0    NaN   left_only
19    CA-2014-100895  OFF-AR-10004511    2.0    NaN   left_only
35    CA-2014-101560  OFF-BI-10000309    3.0    NaN   left_only
61    CA-2014-102673  OFF-LA-10001771   12.0    NaN   left_only
...              ...              ...    ...    ...         ...
9981  US-2017-165344  OFF-BI-10003196    NaN   10.0  right_only
9982  US-2017-165358  TEC-CO-10001943    NaN    5.0  right_only
9983  US-2017-167920  OFF-AP-10000159    NaN    5.0  right_only
9984  US-2017-169502  OFF-AP-10001947    NaN    5.0  right_only
9985  US-2017-169551  FUR-BO-10001519    NaN    3.0  right_only

[1015 rows x 5 columns]

### **Step 5 - Questions**

### Question : 1 - Identify the Records present in data1 but missing in data2

In [9]:

df_left = Both_merged.query("Exist == 'left_only'")
df_left

            Order ID       Product ID  Qty_x  Qty_y      Exist
0     CA-2014-100006  TEC-PH-10002075    3.0    NaN  left_only
10    CA-2014-100678  OFF-EN-10000056    3.0    NaN  left_only
19    CA-2014-100895  OFF-AR-10004511    2.0    NaN  left_only
35    CA-2014-101560  OFF-BI-10000309    3.0    NaN  left_only
61    CA-2014-102673  OFF-LA-10001771   12.0    NaN  left_only
...              ...              ...    ...    ...        ...
9390  US-2017-160836  OFF-AP-10001626    2.0    NaN  left_only
9403  US-2017-162558  FUR-FU-10002364    2.0    NaN  left_only
9420  US-2017-163657  OFF-BI-10000138    5.0    NaN  left_only
9427  US-2017-164056  FUR-TA-10001307    5.0    NaN  left_only
9435  US-2017-165456  FUR-CH-10003981    6.0    NaN  left_only

[507 rows x 5 columns]

### Question : 2 - Identify the Records missing in data1 but present in data2

In [10]:
df_right = Both_merged.query("Exist == 'right_only'")
df_right

            Order ID       Product ID  Qty_x  Qty_y       Exist
9478  CA-2014-100706  TEC-AC-10001314    NaN    2.0  right_only
9479  CA-2014-100762  OFF-PA-10001815    NaN    3.0  right_only
9480  CA-2014-101427  OFF-AR-10002257    NaN    3.0  right_only
9481  CA-2014-102652  FUR-FU-10001918    NaN    7.0  right_only
9482  CA-2014-102869  OFF-PA-10000788    NaN    3.0  right_only
...              ...              ...    ...    ...         ...
9981  US-2017-165344  OFF-BI-10003196    NaN   10.0  right_only
9982  US-2017-165358  TEC-CO-10001943    NaN    5.0  right_only
9983  US-2017-167920  OFF-AP-10000159    NaN    5.0  right_only
9984  US-2017-169502  OFF-AP-10001947    NaN    5.0  right_only
9985  US-2017-169551  FUR-BO-10001519    NaN    3.0  right_only

[508 rows x 5 columns]

### Question: 3 - Find Sum of the total Qty of Records missing in data1 but present in data2

In [11]:
df_right["Qty_y"].sum()

1956.0

### Question : 4 - Find the total number of unique records present in the combined dataset of data1 and data2

In [12]:
unique_records = np.unique(Both_merged[['Order ID', 'Product ID']].values)
unique_records

array(['CA-2014-100006', 'CA-2014-100090', 'CA-2014-100293', ...,
       'US-2017-169488', 'US-2017-169502', 'US-2017-169551'], dtype=object)

In [13]:
unique_records.size

6871